<!-- Layout principal responsive -->
<p-drawer
  #drawerRef
  [(visible)]="sidebarVisible"
  position="left"
  [modal]="false"
  [dismissible]="false"
  styleClass="sidebar-drawer"
>
  <ng-template #headless>
    <div class="drawer-container">
      <app-sidebar (close)="sidebarVisible = false"></app-sidebar>
    </div>
  </ng-template>
</p-drawer>

<!-- Contenido principal -->
<div class="content-container">
  <app-toolbar (menuToggle)="toggleSidebar()"></app-toolbar>
  <div class="content">
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
