<!-- Layout principal responsive -->
<mat-sidenav-container class="main-layout">
  <!-- Sidenav responsive -->
  <mat-sidenav
    #sidenav
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
    class="sidebar"
  >
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <!-- Contenido principal -->
  <mat-sidenav-content class="content-container">
    <app-toolbar (menuToggle)="sidenav.toggle()"></app-toolbar>
    <div class="content">
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
