<p-toolbar styleClass="custom-toolbar">
  <div class="p-toolbar-group-start">
    <p-button
      icon="pi pi-bars"
      styleClass="menu-toggle-button"
      [text]="true"
      (click)="toggleSidenav()"
    >
    </p-button>

    <div class="toolbar-logo-container">
      <img src="assets/logo.png" alt="Texfina" class="toolbar-logo" />
    </div>
  </div>

  <div class="p-toolbar-group-center"></div>

  <div class="p-toolbar-group-end">
    <app-notifications
      [alertas]="alertas"
      [alertasCount]="alertasCount"
      (resolver)="resolverAlerta($event)"
    >
    </app-notifications>

    <app-user-menu [currentUser]="currentUser" (logout)="logout()">
    </app-user-menu>
  </div>
</p-toolbar>
