<mat-toolbar class="main-toolbar">
  <button mat-icon-button class="menu-toggle" (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="toolbar-logos">
    <img src="assets/logo.svg" alt="Texfina" class="toolbar-logo" />
  </div>

  <span class="spacer"></span>

  <app-notifications
    [alertas]="alertas"
    [alertasCount]="alertasCount"
    (resolver)="resolverAlerta($event)"
  ></app-notifications>

  <app-user-menu
    [currentUser]="currentUser"
    (logout)="logout()"
  ></app-user-menu>
</mat-toolbar>
